#card {
    margin: 18.5px;
    height: 453px;
    overflow: hidden;
    border: 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

.cardTexts {
    height: 234px;
}

.cardOptions {
    font-size: 20px;
    font-weight: 600;
    margin-top: 118px;
}

#card:hover .cardOptions {
    margin-top: 70px;
}

.cardOptions li {
    line-height: 30px;
    padding: 0;
    padding-bottom: 4px;
}

#card:hover #cardFooter {
    display: none;
}


.small {
    font-size: 16px;
    font-weight: 500;
    color: #6d747a;
}

#rupee {
    height: 13px;
}

.large {
    font-size: 20px;
    font-weight: 500;
    color: #08090a;
}